





  <section class="home bg">
        <span class="title-txt">
            <div class="w-100 d-flex flex-column align-items-center justify-content-center">
            <h1 class="title">Looking for a high end restaurant near your location ?</h1>
              <h3 class="home-p">Ask <span class="job-title"><strong>Rest'OU</strong></span> 
            </h3>
            </div>
        </span>
        <div class="home-div">
            <img src="images/Paper map-amico (1).png" alt="Paper map illustration">
        </div>
    </section>
    
  <div class="container mt-5 d-flex justify-content-center">

    <form class="search d-flex" action="/restaurants" method="GET">
        <input class="bar" type="text" placeholder="Search by department..." name="resName">
        <div>
        <button class="button-search"><i class="fas fa-search"></i>SEARCH</button>
        <a href="/restaurants"><i class="fas fa-sync-alt dark-green"></i></a>
      </div>
    </form>
</div>


    
  {{! just a quick config with the CSS from artistify to have a quick visual feedback }}
  {{! Copied CSS in public/stylesheets/home.index }}

  <div class="mt-5 d-flex">
    <div class="cards">
    
        <h1 id="user_id" style="display: none;">{{user_id}}</h1>
        <h1 id="favoris" style="display: none;">{{favoris}}</h1>
    
      {{#each restaurant}}
    
      <div class="card-restaurant card" data-name={{this.name}} data-coordinates={{this.coordinates}}  style="background-image: url({{this.picture}}">
        <a href="/restaurants/{{this._id}}" class="black" >
        <div class="w-100 d-flex align-items-center justify-content-between">
          <p class="white mb-0">{{this.name}}</p>    
        </div>
          <p class="white">{{this.stars}}</p>
          <p class="white"> {{this.address}}</p>
          <p class="white">{{this.cuisineType}}</p>        
        </a>
        </div>
      {{/each}}
    </div>

    
      <div id="big-map"></div>
  


