
<main class="restauPage-container">

<div class="restauPage-unscrollable">
    <div class="restauImg-div">
      <img class="img-restaurant" src="{{restaurant.picture}}" alt="{{restaurant.name}} picture" />
    </div>
    <div class="restau-map">
      <img class="img-restaurant" src="{{restaurant.picture}}" alt="{{restaurant.name}} picture" />
    </div>
</div>

  <div class="infos-scrollable">

    <div class="info-section-1">
      <h1> {{restaurant.name}} </h1> <br> 
      <p>{{restaurant.stars}} MICHELIN'S STARS</p> <br>
      <p>{{restaurant.address}}</p> <br>  
    </div>

    <div class="info-section-2">
      <p>$$$: [{{restaurant.minPrice}} - {{restaurant.maxPrice}}]</p> <br>
      <p>{{restaurant.standing}}</p> <br>
      <p>{{restaurant.cuisineType}}</p> <br>
    </div>

    <div class="info-section-description">
      <h2>Description</h2>
      <p>{{restaurant.description}}</p>
    </div>

    <div class="info-section-contact">
      <h2>Eager to book a table ?</h2>
      <p>{{restaurant.website}}</p>
      <p>{{restaurant.phoneNumber}}</p>
      <p>{{restaurant.openingHours}}</p>
    </div>

    <div class="info-section-review">
      <div class="display-review">
        {{#if reviews}}
        <h2>Reviews</h2>
        {{#each reviews}}
          <p>{{this.userId.firstName}} {{this.userId.lastName}}</p>
          <p>{{this.note}}</p>
          <p>{{this.comment}}</p>
        {{/each}}
        {{/if}}
      </div>
      <div class="new-review-box">
        {{>reviewFormPartial}}
      </div>
      {{#if currentUser.isAdmin}}
     {{>adminButton}}
     {{/if}}
    </div>
  </div>

</main>