

<main class="container restauPage-container">

  <div class="restauPage-unscrollable">
    <div class="img-container">
      <img src="{{restaurant.picture}}" alt="{{restaurant.name}} picture" />
    </div>
    <div id="map" class="restau-map" data-lat={{lat}} data-lng={{lng}}>
    </div>
  </div>

  <div class="infos-scrollable">


    {{#if currentUser.isAdmin}}
     {{>adminButton}}
     {{else}}
      <h1 class="mt-5 mb-5"> {{restaurant.name}} </h1>
     {{/if}}
    <div class="section-container">
      <p>{{restaurant.stars}} MICHELIN'S STARS</p> <br>
      <p>{{restaurant.address}}</p> <br>  
      <p>`Budget {{restaurant.minPrice}} - {{restaurant.maxPrice}} EUR`</p> <br>
      <p>{{restaurant.standing}}</p> <br>
      <p>{{restaurant.cuisineType}}</p> <br>
    </div>

    <div class="section-container description">
      <h3>Description</h3>
      <p>{{restaurant.description}}</p>
      <h3>Eager to book a table ?</h3>
      <p>{{restaurant.website}}</p>
      <p>{{restaurant.phoneNumber}}</p>
      <p>{{restaurant.openingHours}}</p>
    </div>

    <div class="section-container">
      <div class="display-review">
        {{#if reviews}}
        <h3 class="text-center">Reviews</h3>

        {{/if}}
      </div>
      {{#if isLoggedIn}}
      <div class="new-review-box">
        {{>reviewFormPartial}}
      </div>
      {{else}}
      <p class="form-alt-option mt-3"><a href="/auth/signin">👉 Sign in </a>to add a review</p>
      {{/if}}
      <div class="box-shadow p-3">
        {{#each reviews}}
          <p class="p-2 border-bottom-dark-green">{{this.userId.firstName}} {{this.userId.lastName}} : "{{this.comment}}" (Note {{this.note}}/5)</p>
        {{/each}}
        </div>
  
    </div>
  </div>

</main>